.modal__header {
  height: 80px;
  background-color: var(--blue-2);
  display: grid;
  grid-column: repeat(3, 1fr);
  padding: 6px 18px;
}

.modal__title {
  color: var(--soft-white);
  grid-column: 2 /3;
  justify-self: center;
  align-self: center;
}
.modal__close-btn {
  font-size: 2.4rem;
  color: var(--soft-white);
  grid-column: 3 /4;
  justify-self: right;
  align-self: start;
}
.modal__close-btn:hover {
  color: var(--grey-3);
}
.modal__add-pay-btn-box {
  margin: 4em auto 0;
  display: flex;
  justify-content: center;
}
.modal__add-pay-btn {
  padding: 0.8em 0.8em;
  font-size: 1rem;
  border-radius: 3px;
  background-color: var(--blue-1);
  box-shadow: 4px 4px 10px var(--grey-5);
  color: white;
}
.modal__add-pay-btn:hover {
  background-color: var(--blue-2);
}
.modal__add-pay-return-btn {
  font-size: 1.3rem;
}
.modal__form-sect {
  padding: 1em 2em;
}
.modal__form {
  padding-top: 0.6em;
  display: grid;
  grid-column: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 15px;
}
.modal__return-btn {
  font-size: 2rem;
  color: var(--grey-7);
}
.modal__return-btn:hover {
  animation: scaleUp 200ms ease-in forwards;
}

/* ADD/EDIT EXPENSE GRID   */
.modal__expense-title {
  grid-column: 1/ 2;
  grid-row: 1 / 3;
}
.modal__expense-categories {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.modal__expense-desc {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}
.modal__expense-amount {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  justify-self: center;
}
.modal__expense-nec-select {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  justify-self: center;
}

.modal__expense-submit-btn {
  grid-column: 1 / 3;
  grid-row: 6/ 7;
  justify-self: center;
}

/* ADD RECURRING GRID   */
.modal__recurring-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.modal__recurring-categories {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.modal__recurring-amount {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  justify-self: center;
}
.modal__recurring-nec-select {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  justify-self: center;
}

.modal__recurring-submit-btn {
  grid-column: 1 / 3;
  grid-row: 5/ 6;
  justify-self: center;
}

/* ADD CATEGORY GRID */
.modal__category-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.modal__category-amount {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.modal__category-display-msg {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
.modal__category-nec-select {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  justify-self: center;
}
.modal__category-submit-btn {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  justify-self: center;
}
