.recurring {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  height: 440px;
  padding-left: 0.8em;
  padding-right: 0.8em;
}
@media (max-width: 1150px) {
  .recurring {
    grid-column: 2 / 3;
    height: fit-content;
  }
}
@media (max-width: 900px) {
  .recurring {
    grid-column: 2 / 3;
    height: fit-content;
    align-self: stretch;
  }
}
.payment__box {
  height: 390px;
  overflow-y: scroll;
}
.payment__pages {
  padding: 0.4em;
  text-align: center;
}
.payment__pages > a {
  margin: 0 0.4em;
}
.payment__category {
  padding: 0.5em;
  border-bottom: 1px solid var(--grey-4);
}
.payment__title {
  background-color: var(--grey-2);
  border-radius: 2px;
  padding: 0 0.2em;
}
.payment__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2em 0;
}
.payment__item-title {
  display: flex;
  justify-content: space-between;
}
.payment__item-amt {
  display: flex;
  justify-content: space-between;
}
