
<header class="header">
  <div class="header-wrapper">
    <i class="fas fa-kaaba fa-3x logo"></i>
      <ul class="nav">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Yearly</a>
        </li>
      </ul>
    <div class="user-link">
      <p>Hello Rob,</p>
      <a href="" class="user-icon"><i class="fas fa-user fa-2x "></i></a>
    </div>
  </div>

</header>