<!-- header when use is not signed in -->

<header class="header">
  <div class="header-wrapper">
    <a href="/" class="logo"><i class="fas fa-kaaba fa-3x "></i></a>
    <% if (!user) { %>
      <div class="user-links-wrapper">
        <a href="login" class="link-btn log-in-btn">Log In</a>
        <a href="sign-up" class="link-btn sign-up-btn">Sign-Up</a>
      </div>
    <% } else { %>
      <ul class="nav">
        <li>
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="/yearly">Yearly</a>
        </li>
      </ul>
    <div class="user-link">
      <p>Hello <%= user.name %></p>
      <a href="" class="user-icon"><i class="fas fa-user fa-2x "></i></a>
      <a href="/log-out" class="log-out-link">Log Out</a>
    </div>
    <% } %>
  </div>
</header>


