.expenditures-box {
  max-width: 1000px;
  width: 96%;
  min-width: 600px;
  margin: 10em auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px var(--grey-2);
  background-color: white;
  padding: 2em;
}
.title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 1em auto;
}
.title-box button {
  font-size: 1.2rem;
  padding: 0.5em 0.8em;
  border: 1px solid var(--green-3);
  background-color: var(--green-3);
  color: white;
  border-radius: 10px;
}
.title-box button:hover {
  border: none;
  border: 1px solid var(--green-3);
  color: var(--green-3);
  background-color: inherit;
}

.header-desc {
  padding: 1em 0;
  border-bottom: 1px solid var(--grey-2);
  border-top: 1px solid var(--grey-1);

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  place-items: center;
}
.header-spent {
  grid-column: 3 / -1;
  justify-self: start;
  margin-left: 1.6em;
}
.main {
  margin: 1em 0;
  display: flex;
}

table {
  width: 100%;
  border-spacing: 0;
}
td,
th {
  text-align: center;
}
.header-row {
  background-color: var(--grey-1);
}

th {
  padding: 1em 0.3em;
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: uppercase;
  opacity: 0.9;
}
td {
  padding: 1em 0;
  border-bottom: 1px solid var(--grey-2);
  font-size: 1rem;
}
.table-row-data {
}

.table-cell-date {
  width: 10%;
}
.table-cell-desc {
  width: 45%;
}
.table-cell-category {
  width: 10%;
}
.table-cell-necessity {
  width: 10%;
  text-align: left;
}
.table-cell-amount {
  width: 15%;
}
.table-cell-edit {
  width: 5%;
}
.text {
  color: var(--green-3);
}
