.expenditures-box {
  width: 100%;
  grid-column: 2 / -1;
  grid-row: 4 / 5;
  justify-self: center;
}
@media (max-width: 1150px) {
  .expenditures-box {
    grid-column: 1 / -1;
  }
}
@media (max-width: 900px) {
  .expenditures-box {
    overflow-x: scroll;
    grid-column: 1 / -1;
    grid-row: 5 / 6;
  }
  .exp-box {
    width: 600px;
  }
}

.desc-box {
  width: 100%;
  border-bottom: 1px solid var(--grey-2);
  border-top: 1px solid var(--grey-2);
}
.header-desc {
  font-size: 1rem;
  padding: 1em 0;
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desc-category {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.nav {
  grid-row: 2/ 3;
  justify-self: start;
  position: absolute;
  background-color: white;
  width: 50%;
}

.nav-item-btn {
  width: 100%;
  background-color: white;
  border: 1px solid var(--grey-2);
  padding: 1em;
}
.current-category {
  margin-left: 0.4em;
}
.category-btn {
  background-color: white;
  vertical-align: middle;
  font-size: 1rem;
  padding: 7px 15px;
  border-radius: 5px;
  border: 1px solid var(--grey-2);
  box-shadow: 3px 3px 5px var(--grey-1);
}
.category-btn-icon {
  position: relative;
  top: 3px;
}
.header-spent {
  display: flex;
  align-items: center;
}
.header-spent * {
  margin-right: 4px;
}

table {
  width: 100%;
  border-spacing: 0;
}
td,
th {
  text-align: center;
}
.header-row {
  background-color: var(--grey-1);
}

th {
  padding: 1em 0.3em;
  font-weight: 400;
  font-size: 0.9rem;
  text-transform: uppercase;
  opacity: 0.9;
}
td {
  padding: 1em 0;
  border-bottom: 1px solid var(--grey-2);
  font-size: 1rem;
}

.table-cell-date {
  width: 10%;
}
.table-cell-desc {
  width: 45%;
}
.table-cell-category {
  width: 10%;
}
.table-cell-necessity {
  width: 8%;
  text-align: left;
}
.table-cell-amount {
  width: 10%;
}
.table-cell-edit {
  width: 6%;
  padding: 0.2em;
}
