.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: var(--grey-1);
}
.form {
  max-width: 480px;
  width: 90%;
  padding: 2em 2em 3em;

  background-color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.1);
}
.form-box {
  width: 100%;
  margin: 1em 0 1em;
}
.input-item {
  display: flex;
  flex-direction: column;
}

.dollar-symbol {
  font-size: 1.4rem;
  color: rgba(8, 8, 8, 0.6);
  position: relative;
  right: 4px;
}
.input-item:not(:last-child) {
  margin-bottom: 1.8em;
}
.input-item label {
  margin-bottom: 0.2em;
}
.input-item input {
  font-size: 1.2rem;
  padding: 4px;
  width: 90%;
}
.input-border-bottom {
  border: none;
  border-bottom: 1px solid var(--grey-2);
  font-size: 1.1rem;
  height: 28px;
}
.input-border-bottom:focus {
  outline: 0;
  border-bottom: 1px solid var(--grey-6);
}

.btn-submit {
  display: block;
  margin: 1.6em auto 0;
  padding: 0.6em 1em;
  color: var(--blue-2);
  background-color: white;
  border: 1px solid var(--blue-2);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
}
.progress-bar {
  width: 90%;
  height: 15px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 1px;
}
.progress-sect--complete {
  background-color: var(--green-5);
}
.progress-sect--incomplete {
  background-color: var(--grey-1);
}
.create-profile-desc {
  padding: 1em 0;
}
.create-profile-desc > p {
  padding: 0.5em 0;
}

.btn-page-select {
  font-size: 1.2rem;
  border: 1px solid var(--grey-2);
  padding: 0.4em 1em;
}
.btn-submit:hover {
  background-color: var(--blue-2);
  color: white;
}
.link-sign-up {
  align-self: center;
  font-size: 14px;
}
.no-account-link {
  font-size: 1rem;
  display: block;
  margin-top: 1em;
  text-align: center;
}
.pword-check {
  padding: 4px 10px;
  margin: 1px 0;
  border-radius: 8px;
  font-size: 14px;
}
.pword-check--success {
  background-color: var(--green-2);
  color: var(--green-4);
}
.pword-check--danger {
  background-color: var(--red-1);
  color: var(--red-4);
}
