.alert {
  margin: 1px 0;
  border-radius: 8px;
  font-size: 1rem;
}
.alert--danger {
  color: var(--red-4);
}

.server-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.server-error__text {
  font-size: 1.2rem;
}
.server-error__btn:hover {
  animation: scaleUp 250ms ease-out forwards;
}

.server-error__refresh {
  font-size: 1.4rem;
  color: var(--red-4);
}
