.land__footer,
.land__header {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 4em;
}
.land__footer {
  height: 45vh; 
  background-color: var(--green-1);
}
.land__footer-box,
.land__header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
}
.land__header-box h1 {
  margin-bottom: 0.2em;
}
.land__header-box p {
  margin-bottom: 1em;
}
.land__btn-box {
  margin: 1.4em 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.land__signup-link {
  width: 100%;
  background-color: var(--green-5);
  padding: 0.8em 1em;
  color: white;
  text-align: center;
  margin-bottom: 0.6em;
}
.land__login-link {
  width: 100%;
  background-color: var(--blue-2);
  padding: 0.8em 1em;
  color: white;
  text-align: center;
}

/* DESCRIPTION SECTION */

.land__description {
  padding: 2em 0;
}
.desc-container {
}
.land__desc-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4em 0;
  
}

.land__desc-box:nth-child(2) {
  flex-direction: row-reverse;
}

@media (max-width: 762px) {
  .land__desc-box {
    flex-direction: column;
  }
  /* change to image */
  .land__desc-box div {
    margin-bottom: 2em;
  }
  .land__desc-box:nth-child(2) {
    flex-direction: column;
  }
}
.land__desc-box p {
  width: 400px;
  line-height: 1.6;
}
.fake-img-1,
.fake-img-2,
.fake-img-3 {
  width: 300px;
  height: 200px;
  background-color: var(--green-5);
  animation: moveRight 400ms ease-out;
}
.fake-img-2 {
  animation: moveLeft 400ms ease-out;
}
.img-1-desc {
  animation: moveLeft 400ms ease-out;
  
}
.img-2-desc {
  animation: moveRight 400ms ease-out;
  
}
.img-3-desc {
  animation: moveLeft 400ms ease-out;
  
}

.land__intro {
  background-color: var(--grey-1);
  padding: 1em 0;
}
.land__content-box {
  width: 90%;
  max-width: 700px;
  margin: 2em auto;
  display: flex;
  flex-direction: column;

}
.land__intro-desc {
  margin-right: 1em;
  width: 80%;
  align-self: flex-start;
  margin-bottom: 2em;
}
.fake-img-4 {
  max-width: 700px;
  width: 80%;
  height: 260px;
  background-color: burlywood;
  align-self: flex-end;
}