.header {
  width: 100%;
  height: 100px;
  padding: 1em 2em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey-2);
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  background-color: white;
}
@media (max-width: 1150px) {
  .header {
    grid-column: 1 / -1;
  }
}

.header__title {
  margin-left: 0.4em;
}
.header__menu-icon {
  font-size: 1.6rem;
}
@media (min-width: 1150px) {
  .header__menu-icon {
    display: none;
  }
}
.user-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.icon-user {
  align-self: flex-end;
  margin-right: 10px;
  position: relative;
  top: 5px;
}
.notification-active {
  position: relative;
}
.notification-active::after {
  content: '';
  background-color: rgb(240, 78, 78);
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: -3px;
  left: 14px;
}
