.header {
  width: 100%;
  padding: 1em 0 2em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--grey-1);
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}
.title {
  margin-left: 2em;
}
.user-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.icon-user {
  align-self: flex-end;
  margin-right: 20px;
  position: relative;
  top: 5px;
}
.notification-active {
  position: relative;
}
.notification-active::after {
  content: '';
  background-color: rgb(240, 78, 78);
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  border-radius: 50%;
  top: -3px;
  left: 14px;
}
