.loading-icon {
  width: 4rem;
  height: 4rem;
  border: 3px solid rgba(42, 42, 42, 0.4);
  border-top-color: rgba(42, 42, 42, 0.7);
  border-radius: 50%;
  animation: 900ms spin infinite ease-in-out;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
