.budget {
  padding: 1em;
  border: 1px solid var(--grey-1);
  /* width: 300px; */
  background-color: white;
  border-radius: 5px;
  font-size: 16px;

  grid-column: 2 / 4;
  grid-row: 3 / 4;
}
.budget-title {
  text-align: center;
}
.budget-box {
  margin: 2em 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.budget-item {
  margin-bottom: 1em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid var(--grey-1);
}
.item-title {
  font-size: 1.2rem;
  margin-bottom: 0.2em;
}
.item-amount--red {
  font-size: 1.4rem;
  color: var(--red-1);
}
.item-amount--green {
  font-size: 1.4rem;
  color: var(--green-3);
}
