.budget {
  padding: 1em;
  border: 1px solid var(--grey-1);
  width: 360px;
  background-color: white;
  border-radius: 5px;
}
.budget-title {
  text-align: center;
  text-decoration: underline;
  font-weight: 300;
  margin-top: 0.6em;
}
.budget-box {
  margin: 2em 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.budget-item {
  margin-bottom: 2em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid var(--grey-1);
}
.item-title {
  font-size: 1.2rem;
  margin-bottom: 0.2em;
}
.item-amount--red {
  font-size: 1.6rem;
  color: var(--red-1);
}
.item-amount--green {
  font-size: 1.6rem;
  color: var(--green-3);
}
