.monthly-specifics {
  width: 100%;
  padding-left: 0.8em;
  padding-right: 0.8em;
  grid-column: 4 / -1;
  grid-row: 3 / 4;
}
@media (max-width: 1150px) {
  .monthly-specifics {
    grid-column: 3 / -1;
  }
}
@media (max-width: 900px) {
  .monthly-specifics {
    grid-column: 1 / -1;
    grid-row: 4/ 5;
  }
}
@media (max-width: 505px) {
  .monthly-specifics {
    grid-row: 5 / 6;
  }
}
.budget-graph-box {
  height: 80%;
}
.budget-graph {
  height: 400px;
  font-size: 1rem;
  width: 50%;
}
