.banner {
  grid-column: 2 / -1;
  grid-row: 2/ 3;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: white;
}
@media (max-width: 1150px) {
  .banner {
    grid-column: 1 / -1;
  }
}

.banner-box {
  margin-left: 4em;
}
.banner-date {
  margin: 0 0.6em;
}

.arrow {
  font-size: 1.6rem;
}
.arrow:hover {
  animation: scaleUp 300ms ease-in;
  animation-fill-mode: forwards;
}

.banner__add-new {
  margin-left: 2em;
  padding: 0.3em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--grey-6);
  background-color: var(--soft-white);
}
.add-new-btn {
  margin-left: 0.5em;
  color: var(--grey-6);
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
